.jumbotron {
    padding: 20px 0px 20px 0px;
    height: 100vh;
    border-radius: 0;
}

a:hover {
    text-decoration: none;
}

.display-8 {
    opacity: 0;
    transition: 1s;
}

.test:hover {
    cursor: pointer;
}
